@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="http://yasinates.com.tr/" target="_blank">Learn more about Me</a> - Made With Love &hearts;</p>
</div>